#home {
  font-style: italic;
  text-align: center;
  position: absolute;
}

.clock-time {
    width: 100%;
    height: 240px;
    font-size: 3em;
    position: relative;
    left: 16px;
    top: 50px;
    font-weight: 700;
}

.date {
    font-size: 1.5em;
}

.personalInfo {
  font-style: italic;
}

.attr-value {
  font-size: 1.2em;
}
